<html>
   <body>
 <div class="container" style="width: max-content;">
   <h1 style="text-align: center;">  {{ message }} <hr> </h1>
 <figure style="float:left;"
     <a title="Roller"></a>
 </figure>
 <div class="container" style="float:right">
  <h3>Generators</h3>
   <p><a href="/hex">Check Hex</a>: What does today look like?
    <li>Weather Change</li>
    <li>Moving-Explored</li>
    <li>Moving-Unexplored	</li>
    <li>Resting-Explored</li>
    <li>Searching-Full Day</li>
  </p>
   <p><a href="/jungle">Are you in the jungle?</a></p>
   <p><a href="/check">Generate Random Encounter Result</a></p>
   <p><a href="/environment">Generate Environment</a></p>
   <p><a href="/factions">Faction Connection</a></p>
   <p><b>Encounters</b></p>
   <p><a href="/encounter">Generate Encounter Scene Layout</a></p>
   <p><a href="/monster">Random Monster</a>
   <p><b>Treasure</b>
     <li><a href="/treasure">Treasure - I need a gem</a></li>
   </p>
   <h3>Static References</h3><p>
     <li><a href="https://docs.google.com/document/d/1Nw8Jv0HHSwr5UUihKt9xqhRamYOKMpAJHZ3EpCDwpZo/edit#">Uod Treasure</a></li>
     <li>Abulufia - Campsite</li>
     <li>Abulufia - Treasure</li>
     <li><a href="https://widderslainte.github.io/uod/">Uod Wiki</a></li>
     <li><a href="https://widderslainte.github.io/guisarmes/">Guisarmes Wiki</a></li>
     <li><a href="https://oldschoolessentials.necroticgnome.com/srd/index.php/Main_Page">OSE Wiki</a></li>
   </p>

   <!-- <p><a href='/spencer'>Click if you are Spencer</a> -->
   <hr> 
   <p>Source: {{ source }}</p>
 
 </div>
 </div>
</body>
</html>
