<html>
   <body>
 <div class="container" style="width: max-content;">
   <h1 style="text-align: center;">  {{ message }} <hr> </h1>
 <figure style="float:left;"
     <a title="Roller"></a>
 </figure>
 <div class="container" style="float:right">
   <p><a href="/2d6">Sample 2d6</a></p>
   <p><a href="/weather">Check Weather</a></p>
   <p><a href="/hex">Check Hex</a></p>
   <p><a href="/jungle">Are you in the jungle?</a></p>
   <p><a href="/encounter">Generate Encounter Layout</a></p>
   <p><a href="/check">Generate Random Encounter Result</a></p>
   <p><a href="/environment">Generate Environment</a></p>
   <p><a href="/factions">Faction Connection</a></p>

   <!-- <p><a href='/spencer'>Click if you are Spencer</a> -->
   <hr> 
   <p>Source: {{ source }}</p>
 
 </div>
 </div>
</body>
</html>
